body {
  font-family: 'Roboto';
  background-color: #111111;
}
.title{
  color: #51825A;
}

table {
  background: #1E1E1E;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  height: 500px;
  overflow-y: scroll;
}
th {
  border-bottom: 1px solid #364043;
  color: #51825A;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.button {
  font-size: 0.80em;
  display: inline-block;
  text-decoration: none;
  border-radius: 0.30em;
  padding: 0.50em;
}
.button-portfolio, .button-order:hover {
  background-color: #364043;
  color: #51825A;
  border: 0.20em #51825A solid
}
.button-order, .button-portfolio:hover {
  background-color: #51825A;
  color: white;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}
.form-container {
  background: #1E1E1E;
  border-radius: 0.25em;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name""number number""expiration security";
  max-width: 400px;
  padding: 20px;
  color: #707070;
  margin: 1em;
}
.form-container button{
  padding: 0.80em;
  margin: 0.80em;
}
label {
  color: white;
  padding: 0.5em 1em;
  margin-top: 0.80em;
  font-size: 0.85em;
}

input {
  margin: 0.80em;
  padding: 0.5em 1em;
  font-size: 0.85em;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}